<h1>Missions#index</h1>
<p>Find me in app/views/missions/index.html.erb</p>

<h3><%= link_to "新增" , new_mission_path %></h3>

<table>
  <searchbar>搜尋</searchbar><br/>
  <%= search_form_for @m do |f| %>
    <%= f.label :任務名稱 %>
    <%= f.search_field :name_cont %><p/>
    <%= f.label :狀態 %>
    <%= f.search_field :status_cont %>
    <%= f.submit %>
  <% end %><p/>
  
  <thead>
      <% @m = Mission.ransack(params[:q]) %>
    <tr>
      <td>任務名稱</td>
      <td>任務內容</td>
      <td><%= sort_link(@m, :end, '結束時間', default_order: :desc) %></td>
      <td><%= sort_link(@m, :sequence, '優先順序', default_order: :desc) %></td>
      <td>狀態</td>
      <td>編輯</td>
      <td>刪除</td>
    </tr>
  </thead>
  
  <tbody>
    <% @missions.each do |mission| %>
    <tr>
      <td><%= mission.name %></td>
      <td><%= mission.description %></td>
      <td><%= mission.end %></td>
      <td><%= mission.sequence %></td>
      <td><%= mission.status %></td>
      <td><%= link_to "編輯", edit_mission_path(mission) %></td>
      <td><%= link_to "刪除", mission_path(mission) , method: "delete" , data: {confirm: "確認刪除?"} %></td>
    </tr>
    <% end %>
    <br/>
  </tbody>
  
  <tfoot><%= paginate @missions %></tfoot>
</table>
